:root {
  --bg-color: #fff;
  --primary-text-color: #3a3a3a;
  --pale-pink: #fef4f3;
  --pale-yellow: #fffbf2;
  --pale-green: #f4f9f3;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 70px 120px;
  background-color: var(--bg-color);
}

.header {
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.header h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
}
.header p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.todos-section {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.todos-section section {
  width: 340px;
  min-height: 700px;
  padding: 20px 20px 30px 20px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.todos-section section .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.todos-section section .title span {
  font-size: 12px;
  font-weight: 500;
}
/* undone special style */
.undone-sec {
  background-color: var(--pale-pink);
}
.undone-sec .title {
  color: #6e1e29;
}
.undone-sec .title span {
  color: #d4afb4;
}
.undone-sec .todo {
  border: 1px solid #f3e1df;
}
.undone-sec .todo input[type="checkbox"] {
  border: 1px solid #f3e1df;
}
/* doing special style */
.doing-sec {
  background-color: var(--pale-yellow);
}
.doing-sec .title {
  color: #795b19;
}
.doing-sec .title span {
  columns: #decca4;
}
.doing-sec .todo {
  border: 1px solid #eae2cf;
}
.doing-sec .todo input[type="checkbox"] {
  border: 1px solid #eae2cf;
}
/* done special style */
.done-sec {
  background-color: var(--pale-green);
}
.done-sec .title {
  color: #286c1a;
}
.done-sec .title span {
  color: #bcd7b6;
}
.done-sec .todo {
  border: 1px solid #ddeed9;
}
.done-sec .todo input[type="checkbox"] {
  border: 1px solid #ddeed9;
}
.done-sec .todo textarea {
  text-decoration: line-through;
}

.todo-list {
  width: 100%;
}

.todo {
  width: 100%;
  display: flex;
  background-color: var(--bg-color);
  padding: 12px 10px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
  border-radius: 4px;
}
.todo input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
.todo input[type="checkbox"]:checked::after {
  content: "\2713";
  display: block;
  text-align: center;
  color: #41b883;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.todo textarea {
  border: none;
  overflow: hidden;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize: none;
  width: 80%;
  height: auto;
  max-width: fit-content;
}
.todo button {
  border: none;
  outline: none;
  color: #d37a87;
  background-color: inherit;
  visibility: hidden;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.todo:hover button {
  visibility: visible;
}
.add-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.add-btn span {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.add-btn-undone {
  color: #d37a87;
}
.add-btn-done {
  color: #c2a25b;
}
